{% extends "courier_home.html" %}
{% load request_extras %}
{% load staticfiles %}

<script type="text/javascript" src="{% static "bootstrap.min.js" %}"></script>

{% block content %}
{% include "courier_tabs.html" %}


<div class="tab-content list-group">
	<div class="tab-pane active" id="pending">
		{% for r in requests|courier_pending %}
			<div class="list-group-item">
				{% show_request_courier r %}
			</div>
		{% empty %}
			Nothing to do right now. Come back in some time!
		{% endfor %}
	</div>
	<div class="tab-pane" id="completed">
		{% for r in requests %}
			<div class="list-group-item">
				{% show_request_courier r %}
			</div>
		{% empty %}
			No deliveries have been completed yet.
		{% endfor %}
	</div>
</div>

{% endblock content %}
	