 {% extends "base.html" %}

{% block content %}

{# load static files #}
{% load staticfiles %}

<script src="{% static 'js/register.js' %}"></script>
<link href="{% static 'css/register.css' %}" rel="stylesheet">
{#  #}

{# content #}
<div class="col-md-2"></div>

<div class="col-md-8">
	<form method="post" id="register-form">
	{% csrf_token %}
	<div class="form-group">
		<div id="username">
			<input type="text"  name="username"  placeholder="Username" id="username" class="form-control">
		</div>
		<div id="email">
			<input type="email" name="email" 	 placeholder="Email" class="form-control">	
		</div>
		<div id="firstName">
			<input type="text"  name="firstName" placeholder="First Name" class="form-control">
		</div>
		<div id="lastName">
			<input type="text"  name="lastName"  placeholder="Last Name" class="form-control">
		</div>
		<div id="address">
			<input type="text"  name="address"  placeholder="Address" class="form-control">
		</div>
		<div id="dob">
			<input type="date"  name="dob" class="form-control">
		</div>
		<div id="password" >
			<input type="password" name="password" placeholder="Password" class="form-control" >
		</div>
		<div id="confirmpassword" >
			<input type="password" name="confirmpassword" placeholder="Confirm Password" class="
			form-control">
		</div>
		<div>
			<input type="submit"    value="Register" class="btn btn-info">		
		</div>
		
	</div>
	</form>
</div>

<div class="col-md-2"></div>

{# end content #}
{% endblock content %}