 {% extends "base.html" %}

{% block content %}

{# load static files #}
{% load staticfiles %}

<script src="{% static 'js/register.js' %}"></script>
<link href="{% static 'css/register.css' %}" rel="stylesheet">
{#  #}

{# content #}
<div class="col-md-1"></div>

<div class="col-md-8">
	<form method="post" id="register-form" class="form-horizontal">
	{% csrf_token %}
	<div class="form-group">
		<label class="col-sm-4 control-label" >Username</label>
		<div id="username" class="col-sm-8">
			<input type="text"  name="username"  placeholder="Username" class="form-control">
		</div>
		<label class="col-sm-4 control-label" >Email</label>
		<div id="email"  class="col-sm-8">
			<input type="email" name="email" 	 placeholder="Email" class="form-control">	
		</div>
		<label class="col-sm-4 control-label" >First Name</label>
		<div id="firstName"  class="col-sm-8">
			<input type="text"  name="firstName" placeholder="First Name" class="form-control">
		</div>
		<label class="col-sm-4 control-label" >Last Name</label>
		<div id="lastName" class="col-sm-8">
			<input type="text"  name="lastName"  placeholder="Last Name" class="form-control">
		</div>
		<label class="col-sm-4 control-label" >Address</label>
		<div id="address" class="col-sm-8">
			<input type="text"  name="address"  placeholder="Address" class="form-control">
		</div>
		<label class="col-sm-4 control-label" >Date of Birth</label>
		<div id="dob" class="col-sm-8">
			<input type="date"  name="dob" class="form-control">
		</div>
		<label class="col-sm-4 control-label" >Password</label>
		<div id="password" class="col-sm-8">
			<input type="password" name="password" placeholder="Password" class="form-control" >
		</div>
		<label class="col-sm-4 control-label" >Confirm Password</label>
		<div id="confirmpassword" class="col-sm-8">
			<input type="password" name="confirmpassword" placeholder="Confirm Password" class="
			form-control">
		</div>
		<div>
			<input type="submit" value="Register" class="col-md-2 col-md-offset-6 btn btn-info">
		</div>
		
	</div>
	</form>
</div>

<div class="col-md-2"></div>

{# end content #}
{% endblock content %}