{% extends "users_base.html" %}
{% load request_extras %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Pending</a></li>
  <li role="presentation"><a href="#">All</a></li>
  <li role="presentation"><a href="#">Completed</a></li>
  <li role="presentation"><a href="#">In Transit</a></li>
</ul>

{% if requests %}

	<div class="list-group">
		{% for r in requests %}
			<div class="list-group-item">
				{% show_request_borrower r %}
			</div>
		{% endfor %}
	</div>	

{% else %}

	You have not borrowed any books yet. Try searching for a book!

{% endif %}

{% endblock content %}