{% extends "users_base.html" %}
{% load request_extras %}

{% block content %}

<ul class="nav nav-tabs" id="tabs">
  <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
  <li role="presentation"><a href="#all" data-toggle="tab">All</a></li>
  <li role="presentation"><a href="#completed" data-toggle="tab">Completed</a></li>
  <li role="presentation"><a href="#transit" data-toggle="tab">In Transit</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="pending">pending</div>
	<div class="tab-pane" id="all">all</div>
	<div class="tab-pane" id="completed">complete</div>
	<div class="tab-pane" id="transit">transit</div>
</div>


{% if requests %}
		
	<div class="list-group">
		{% for r in requests %}
			<div class="list-group-item">
				{% show_request_owner r %}
			</div>
		{% endfor %}
	</div>		

{% else %}

	You have not lent out any books yet. 
	Try 
	<a href="{% url 'users:books:add_book' %}">
		adding a book?
	</a>
	
{% endif %}

{% endblock content %}