{% load staticfiles %}
<link rel="stylesheet" type="text/css" 
href="{% static "css/request-owner.css" %}">

<div>
	{{ message }}

	{% if accept_buttons %}
		<span class="accept-buttons">
			<a href="{% url 'users:requests:accept' request_id %}" 
			class="accept-button">
				<span class="glyphicon glyphicon-ok"></span>
			</a>

			<a href="{% url 'users:requests:reject' request_id %}"
			class="reject-button">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		</span>
	{% endif %}
</div>