.book-box{
	height: 13em;
	overflow: auto;
	position: relative;
}

.book-box-search{
	height: 14em;
}

.book-summary{
	margin-top: 5px;
	height: 100%;	
	text-align: justify;
}

.book-title{
       height: 2em;
       font-size: 1.3em;
}

.buttons{
	text-align: right;
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.edit-button{
}

.delete-button{
	color: red;
}