{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/book-detail.css" %}">

<div class="book-box panel panel-primary">
	<div class="panel-heading">
		<h5 class="book-title panel-title"> {{ book.title }}</h5>	
	</div>

	<div class="panel-body">
		<span class="book-author">{{ book.author }}</span>
	</div>

	<div class="buttons">
		{# link to edit this book #}
		{#<a href="{% url 'users:books:edit_book' book.id %}" 
			class="edit-button">
			<span class="glyphicon glyphicon-edit"></span>
		</a>#}
		<a href="{% url 'users:books:delete' book.id	%}" class="delete-button">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
	</div>
</div>
